
// ---------------------------------
//  Here is BASE VARIABLES for colors, spacing and ...
// ---------------------------------


// ---------------------------------
//          BASE COLORS
// ---------------------------------
$base-color: #d8d8d8;
$green     : #283618;
$blue      : #0077b6;  

// ---------------------------------
//          BASE SPACING
// ---------------------------------
$base-padding: .5em;

// ---------------------------------
//          BASE font-size
// ---------------------------------
$base-fontsize: 1em;

